<div class="testingclass">
    <h5>Subtitle</h5>
    <p>This paragraph would be your content paragraph...</p>
    <p>Here's another content article right here.</p>
</div>

<div class="input-append">
    <input type="text" class="input-xxlarge" data-bind="value: newUrl">
    <button class="btn btn-primary" data-bind="click: goToUrl">Go</button>
</div>


<iframe data-bind="attr: {src: currentUrl}"></iframe>
